
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
}
.form-control:focus{
	box-shadow: inherit;
}
select{
	outline: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td{ vertical-align: middle; }
img{
	max-width: 100%;
	vertical-align: top;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

body{
	background: #fff;
	margin: 0;
	font-size: 12px;
	color: #000;
	font-weight: 400;
	font-family: 'Muli', sans-serif;
}



/*-----------------mainHeader-start-------------------*/

.mainHeader{
	background: rgba(0,0,0,0.7);
	height: 56px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
.mainHeader .col-md-12{
	display: flex;
	justify-content: space-between;
}

.logo{

}
.mainHeader .mainNav ul,
.mainHeader .header_right ul{
	display: flex;
}
.mainHeader .mainNav ul li:not(:last-child){
	margin-right: 32px;
}
.mainHeader .mainNav ul li a,
.mainHeader .header_right ul li a{
	display: block;
	line-height: 55px;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
}
.mainHeader .mainNav ul li a:hover,
.mainHeader .mainNav ul li a.active,
.mainHeader .header_right ul li a:hover,
.reg_drop a:hover{
	color: #6dc530;
	text-decoration: none;
}

.mainHeader .header_right{

}
.mainHeader .header_right ul li{
	margin-right: 66px;
}

.reg_drop{
	background: rgba(0,0,0,0.7);
	padding: 27px 22px;
	display: none;
}
.reg_drop a{
	display: block;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}
.reg_drop a:not(:last-child){
	margin-bottom: 12px;
}



/*-----------------mainHeader-end--------------------*/


/*-----------------------homeBanner-start-------------------*/

.homeBanner{
	padding: 150px 0 90px;
	background: url(../images/home-banner1.jpg) no-repeat 0 0;
	background-size: cover;
}
.homeBanner_text{
	text-align: center;
}
.homeBanner_text span{
	display: block;
	color: #fff;
	font-size: 20px;
	line-height: 15px;
	margin: 0 0 16px;
}
.homeBanner_text h2{
	margin: 0 0 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 55px;
	line-height: 50px;
	font-family: 'Cinzel', serif;
	font-weight: 400;
}
.homeBanner_text h2 strong{
	font-family: 'Cinzel', serif;
	font-weight: 400;
	color: #6dc530;
}

.homeBanner_search{
	display: flex;
	padding-top: 20px;
}
.homeBanner_search .search{
	width: 50%;
}
.homeBanner_search .search .form-control,
.homeBanner_search .search .input-group-text,
.homeBanner_search .search .input-group-text button,
.homeBanner_search .location .form-control{
	border-radius: 0;
	background: #fff;
	border: 0;
	height: 60px;
}
.homeBanner_search .search .form-control,
.homeBanner_search .category select,
.homeBanner_search .location .form-control{
	color: #6f6f6f;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Muli', sans-serif;
}

.homeBanner_search .search .input-group-text{
	padding-left: 25px;
}
.homeBanner_search .category{
	width: 210px;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	background: #fff;
	padding: 0 20px;
}
.homeBanner_search .category select{
	width: 100%;
	height: 60px;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background: #fff url(../images/down-arrow.png) no-repeat 98% center;
}
.homeBanner_search .search .input-group-text button{
	color: #6dc530;
	font-size: 20px;
	padding: 0;
}

.homeBanner_search .location .form-control{
	background: #e8f3e0 url(../images/map-icon.png) no-repeat 17px center;
	padding-left: 58px;
}
.homeBanner_search .location .input-group-text{
	padding: 0;
	border: 0;
}
.homeBanner_search .location .input-group-text button{
	padding: 0 30px;
	background: #369d12;
	color: #fff;
	font-size: 18px;
	font-weight: 800;
	height: 60px;
	border-radius: inherit;
}

/*-------------------------homeBanner-end------------------*/

/*-----------------homeCounter-start-----------------------*/

.homeCounter{
	background: #181818;
	padding: 66px 0;
}
.homeCounter strong{
	display: block;
	color: #6dc530;
	font-size: 61px;
	line-height: 48px;
	font-family: 'Cinzel', serif;
}
.homeCounter p{
	font-size: 15px;
	color: #fff;

}


/*-----------------homeCounter-end-----------------------*/


/*------------------homeBrand-start---------------------*/

.homeBrand{
	padding: 82px 0;
	position: relative;
}
.homeBrand:before{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 251px;
	height: 103px;
	background: url(../images/brand-icon1.png) no-repeat 0 0;
}
.homeBrand p{
	margin: 0 0 80px;
	font-size: 22px;
	color: #474747;
	text-align: center;
	line-height: 33px;
}
.homeBrand p strong{
	color: #000;
	font-weight: 700;
	font-style: italic;
}
.homeBrand h2{
	margin: 0 0 62px;
	font-size: 40px;
	line-height: 32px;
	color: #181818;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Cinzel', serif;
}
.homeBrand ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.homeBrand ul li{
	width: 20%;
	text-align: center;
	margin-bottom: 49px;
}



/*------------------homeBrand-end-----------------------*/

/*-------------------homeServices-start----------------*/

.homeServices{
	padding: 0 0 49px;
}
.homeServices h2,
.homeBlog h2,
.homeTestimonial h2,
.registerHolder h2,
.loginHolder h2{
	margin: 0 0 84px;
	font-size: 40px;
	line-height: 32px;
	color: #2e2d2d;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Cinzel', serif;
}

.homeServices ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -20px;
}
.homeServices ul li{
	width: 33%;
	padding: 0 14px;
	margin-bottom: 30px;
}
.homeServices ul li figure{
	margin-bottom: 25px;
	position: relative;
}
.homeServices ul li figure:before{
	content: "";
	position: absolute;
	right: 5px;
	bottom: -88px;
	width: 62px;
	height: 88px;
	background: url(../images/service-icon6.png) no-repeat 0 0;
}
.homeServices ul li figure img{
	/*width: 100%;*/
}
.homeServices ul li figure strong{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 7px;
	bottom: 18px;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background: #6dc530;
	text-align: center;
	z-index: 100;
}
.homeServices ul li figure strong:before{
	content: "";
	position: absolute;
	left: 50%;
	border: 0;
	background: #6dc530;
	width: 2px;
	height: 144px;
	z-index: -1;
	transform: translate(0%, 50%);
}
.homeServices ul li span{
	width: 79%;
	display: block;
	font-size: 20px;
	color: #313131;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Cinzel', serif;
}
.homeServices ul li .onHover{
	background: #53b028;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 45px;
	z-index: 100;
	display: none;
}
.homeServices ul li .onHover span{
	display: block;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	margin: 0 0 12px;
	text-transform: capitalize;
	font-family: 'Muli', sans-serif;
}
.homeServices ul li .onHover figure:before{
	display: none;
}
.homeServices ul li .onHover figure{
	text-align: right;
	margin: 20px 0 0;
}

.homeServices ul li:hover .onHover{
	display: block;
}







/*------------------homeServices-end-------------------*/


/*-------------------homeBlog-start-------------------*/

.homeBlog{
	background: #f5f5f5;
	padding: 86px 0;
}
.homeBlog ul{
	display: flex;
	justify-content: space-between;
}
.homeBlog ul li{
	/*width: 33%;*/
}
.homeBlog ul li strong{
	display: block;
	font-size: 18px;
	line-height: 12px;
	color: #313131;
	font-weight: 600;
	margin-bottom: 12px;
}
.homeBlog ul li span{
	display: block;
	color: #7f7f7f;
	font-size: 13px;
	margin-bottom: 30px;
}
.homeBlog ul li p{
	color: #5e5e5e;
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 30px;
}
.more{
	position: relative;
}
.more a{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background: #6dc530;
	padding: 5px;
	text-align: center;
	position: relative;
}
.more:after{
	content: "";
	position: absolute;
	left: 113px;
	top: 50%;
	border: 0;
	background: #6dc530;
	width: 2px;
	height: 144px;
	transform: rotate(-90deg);
	margin-top: -71px;
}
.more:before{
	content: "";
	position: absolute;
	left: 110px;
	bottom: 2px;
	width: 62px;
	height: 88px;
	background: url(../images/service-icon6.png) no-repeat 0 0;
	transform: rotate(-90deg);
}

.homeBlog .owl-nav{
 	text-align: center;
 	padding-top: 66px;
 	position: relative;
}
.homeBlog .owl-nav .owl-prev,
.homeBlog .owl-nav .owl-next,
.homeTestimonial .owl-nav .owl-prev,
.homeTestimonial .owl-nav .owl-next{
	outline: 0;
}
.homeBlog .owl-nav .owl-prev span,
.homeBlog .owl-nav .owl-next span,
.homeTestimonial .owl-nav .owl-prev span,
.homeTestimonial .owl-nav .owl-next span{
	font-size: 0;
	outline: 0;
	border: 0;
	position: relative;
}
.homeBlog .owl-nav .owl-prev button,
.homeTestimonial .owl-nav .owl-prev button{
	position: relative;
	outline: 0;
	border: 0;
}
.homeBlog .owl-nav .owl-prev span:before,
.homeTestimonial .owl-nav .owl-prev span:before{
	content: "\f177";
	font-family: 'FontAwesome';
	position: absolute;
	left: -22px;
	top: 0;
	font-size: 36px;
	color: #7b7b7b;
	outline: 0;
}
.homeBlog .owl-nav .owl-next span:before,
.homeTestimonial .owl-nav .owl-next span:before{
	content: "\f178";
	font-family: 'FontAwesome';
	position: absolute;
	left: 22px;
	top: 0;
	font-size: 36px;
	color: #7b7b7b;
	outline: 0;
}
.homeBlog .owl-nav .owl-prev.disabled,
.homeBlog .owl-nav .owl-next.disabled,
.homeTestimonial .owl-nav .owl-prev.disabled,
.homeTestimonial .owl-nav .owl-next.disabled{
	cursor: inherit;
}
.homeBlog .owl-nav .owl-prev.disabled span,
.homeBlog .owl-nav .owl-next.disabled span,
.homeTestimonial .owl-nav .owl-prev.disabled span,
.homeTestimonial .owl-nav .owl-next.disabled span{
	opacity: 0.6;
	
}

.homeBlog .owl-nav .owl-prev span:hover:before,
.homeBlog .owl-nav .owl-next span:hover:before,
.homeTestimonial .owl-nav .owl-prev span:hover:before,
.homeTestimonial .owl-nav .owl-next span:hover:before{
	color: #7bca44;
}


.loginPopup .modal-body{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.loginPopup .modal-body .close{
	width: 100%;
	text-align: right; 
	margin: 0 0 20px;
	outline: 0;
}
.loginPopup .modal-body a{
	display: block;
	background: #369d12;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
	line-height: 40px;
	padding: 0 50px;
}



/*----------------------homeBlog-end-----------------*/

/*-----------------------homeTestimonial-start-------*/

.homeTestimonial{
	background: #ecf6e9;
	padding: 92px 0;
}
.homeTestimonial h2{
	margin-bottom: 60px;
}
.homeTestimonial_box{
	text-align: center;
}
.homeTestimonial_box p{
	margin: 0 0 30px;
	color: #4e4e4e;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	line-height: 28px;
	position: relative;
	padding: 0 54px;
}
.homeTestimonial_box p:before,
.homeTestimonial_box p:after{
	content: "";
	width: 21px;
	height: 16px;
	position: absolute;
	left: 34px;
	top: 0;
	background: url(../images/quotation1.png) no-repeat 0 0;
}
.homeTestimonial_box p:after{
	left: inherit;
	right: 34px;
	background: url(../images/quotation2.png) no-repeat 0 0;
}
.homeTestimonial_box figure{
	margin-bottom: 20px;
}
.homeTestimonial_box figure img{
	width: 88px !important;
	height: 88px;
	border-radius: 50%;
	margin: 0 auto;
}
.homeTestimonial_box strong{
	display: block;
	color: #191919;
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
}

.homeTestimonial .owl-prev{
	position: absolute;
	left: 0;
	top: 0;
}
.homeTestimonial .owl-next{
	position: absolute;
	right: 0;
	top: 0;
}



/*-----------------homeTestimonial-end--------------*/

/*----------------footerHolder-start---------------*/

.footerHolder{
	background: #232323 url(../images/footer-bg.png) no-repeat center -32px;
	padding: 128px 0 66px;
}
.footerHolder h3{
	margin: 0 0 18px;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
}
.footerHolder ul li{
	margin: 0 0 14px;
}
.footerHolder ul li a{
	display: inline-block;block;
	color: #7d7d7d;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}
.footerHolder span{
	display: block;
	color: #7d7d7d;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 5px;
}
.footerHolder .footer_touch{
	border: 1px solid #454545;
	padding: 0 10px;
	border-radius: 35px;
	display: flex; 
}
.footerHolder .footer_touch .form-control{
	border: 0;
	background: transparent;
	width: 95%;
	color: #7d7d7d;
	font-size: 13px;
	font-weight: 700;
	padding: 0 15px;
	height: 50px;
}
.footerHolder .footer_touch .btn{
	padding: 0;
	color: #64b32e;
	background: transparent;
	border: 0;
	width: 20px;
}










.copyRight{
	margin-top: 124px;
	text-align: center;
	padding: 60px 0 0;
	border-top: 1px solid #989898;
}
.copyRight strong{
	display: block;
	color: #989898;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}


/*---------------footerHolder-end-----------------*/


/*---------------registerHolder-stap1-start------------*/

.registerHolder{
	margin-top: 56px;
	padding: 75px 0;
}

.reg_steps{
	max-width: 800px;
	margin: 0 auto 118px;
}
.reg_steps ul{
	display: flex;
	position: relative;
	justify-content: space-between;
}
.reg_steps ul:before{
	content: "";
	position: absolute;
	left: 20px;
	top: 40px;
	width: 95%;
	border-bottom: 1px solid #d0d0d0;				
}
.reg_steps ul li{
	position: relative;
}
.reg_steps ul li strong{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	color: #fff;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	background: #d0d0d0;
	margin-bottom: 22px;
	position: relative;
	font-family: 'Cinzel', serif;
}
.reg_steps ul li strong:before{
	content: "";
	position: absolute;
	left: 9px;
	width: 62px;
	height: 117px;
	background: url(../images/reg-icon1.png) no-repeat 0 0;
	z-index: -1;
	top: -28px;
}
.reg_steps ul li span{
	display: block;
	color: #201c1b;
	font-size: 18px;
	font-weight: 700;
	margin-left: -5px;
}

.reg_steps ul li.active strong{
	background: #6dc530;
}
.reg_steps ul li.active strong:before{
	top: -31px;
	background: url(../images/reg-icon2.png) no-repeat 0 0
}


.regFstStep{
	max-width: 500px;
	margin: 0 auto;
}
.regFstStep .form-group{
	margin: 0 0 25px;
}
.registerHolder .form-group label,
.loginHolder .form-group label{
	display: block;
	color: #464646;
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 18px;
	font-family: 'Muli', sans-serif;
}
.registerHolder .form-group .form-control,
.loginHolder .form-group .form-control{
	height: 56px !important;
	border-color: #989898;
	border-radius: 0;
	padding: 0 26px;
	color: #6f6f6f;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Muli', sans-serif;
}

.registerHolder .btn_area{
	padding: 55px 0 0;
	text-align: center;
}
.registerHolder .btn_area button{
	background: #369d12;
	color: #fff;
	font-size: 18px;
	height: 58px;
	padding: 0 95px;
	font-weight: 800;
	border-radius: 0;
	text-transform: uppercase;
}
.registerHolder .btn_area button.back{
	color: #369d12;
	background: #fff;
	border: 1px solid #369d12;
}

.registerHolder .form-check-input{
	margin-top: 0;
}


.regSndStep{
	max-width: 890px;
	margin: 0 auto;
}

.regTrdStep{
	max-width: 570px;
	margin: 0 auto;
}
.regTrdStep p{
	color: #464646;
	font-size: 22px;
	font-weight: 400;
	line-height: 30px;
}
.regTrdStep p strong{
	font-weight: 700;
}



/*---------------registerHolder-stap1-end------------*/


/*----------------login-start----------------------*/

.loginHolder{
	margin-top: 56px;
	padding: 72px 0;
}

.wrapper{
	max-width: 500px;
	margin: 0 auto;
}
.loginHolder .forgPass{
	margin-bottom: 20px;
}
.loginHolder .forgPass a{
	color: #6dc530;
	font-size: 16px;
}
.loginHolder .btn_area{
	text-align: center;
}
.loginHolder .btn_area button{
	color: #fff;
	background: #369d12;
	height: 58px;
	padding: 0 50px;
	border-radius: 0;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
}



/*----------------login-end-----------------------*/

/*----------------startedHolder-start-------------*/

.startedHolder{
	margin-top: 56px;
	padding: 106px 0;
}
.startedHolder .title{
	margin: 0 0 88px;
	text-align: center;
}
.startedHolder .title h2,
.startedHolder .title h3{
	margin: 0 0 30px;
	color: #2e2d2d;
	font-size: 29px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
	font-family: 'Cinzel', serif;
}
.startedHolder .title h3{
	margin: 0;
	font-size: 39px;
	line-height: 32px;
}


.started_area ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.started_area .started_area_box{
	width: 18%;
	float: left;

	
	/*height: 135px;*/
	/*display: flex;*/
	/*padding: 10px;*/
	margin: 0 1% 10px;
	/*align-items: center;*/
	/*justify-content: center;*/
}
.started_area .started_area_box a{
	display: flex;
	text-align: center;
	flex-direction: column;
	height: 135px;
	justify-content:center;
	padding: 10px;
	border: 1px solid #909090;
	border-radius: 6px;
}
.started_area .started_area_box span{
	display: block;
	color: #909090;
	font-weight: 700;
	text-transform: uppercase;
}
.started_area ul li figure{
	/*margin-bottom: 10px;*/
}
.started_area .started_area_box:first-child figure{
	width: 26px;
	height: 26px;
	margin: 0 auto 10px;
	background: url(../images/started-icon1.png) no-repeat 0 0;
}
.started_area .started_area_box:first-child:hover figure{
	background: url(../images/started-icon1a.png) no-repeat 0 0;
}

.started_area .started_area_box:nth-child(2) figure{
	width: 27px;
	height: 27px;
	margin: 0 auto 10px;
	background: url(../images/started-icon2.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(2):hover figure{
	background: url(../images/started-icon2a.png) no-repeat 0 0;
}

.started_area .started_area_box:nth-child(3) figure{
	width: 27px;
	height: 27px;
	margin: 0 auto 10px;
	background: url(../images/started-icon3.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(3):hover figure{
	background: url(../images/started-icon3a.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(4) figure{
	width: 28px;
	height: 29px;
	margin: 0 auto 10px;
	background: url(../images/started-icon4.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(4):hover figure{
	background: url(../images/started-icon4a.png) no-repeat 0 0;
}

.started_area .started_area_box:nth-child(5) figure{
	width: 28px;
	height: 26px;
	margin: 0 auto 10px;
	background: url(../images/started-icon5.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(5):hover figure{
	background: url(../images/started-icon5a.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(6) figure{
	width: 28px;
	height: 27px;
	margin: 0 auto 10px;
	background: url(../images/started-icon6.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(6):hover figure{
	background: url(../images/started-icon6a.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(7) figure{
	width: 25px;
	height: 26px;
	margin: 0 auto 10px;
	background: url(../images/started-icon7.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(7):hover figure{
	background: url(../images/started-icon7a.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(8) figure{
	width: 37px;
	height: 26px;
	margin: 0 auto 10px;
	background: url(../images/started-icon8.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(8):hover figure{
	background: url(../images/started-icon8a.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(9) figure{
	width: 30px;
	height: 30px;
	margin: 0 auto 10px;
	background: url(../images/started-icon9.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(9):hover figure{
	background: url(../images/started-icon9a.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(10) figure{
	width: 29px;
	height: 27px;
	margin: 0 auto 10px;
	background: url(../images/started-icon10.png) no-repeat 0 0;
}
.started_area .started_area_box:nth-child(10):hover figure{
	background: url(../images/started-icon10a.png) no-repeat 0 0;
}
.started_area .started_area_box:hover{
	border-color: #2c2c2c;
}
.started_area .started_area_box:hover a{
	text-decoration: none;
}
.started_area .started_area_box:hover a span{
	color: #383838;
}













/*-----------------startedHolder-end-------------*/


/*
	font-family: 'Muli', sans-serif;
	font-family: 'Cinzel', serif;
*/
