/*@charset "utf-8";*/
/* CSS Document */
/*@import url("responsive.css");*/

/*24-04-2018*/
body{font-family: 'Roboto', sans-serif; font-size:13px;}
.gapdashboard{ margin:0 15px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font-family: 'Roboto', sans-serif;}
.h3, h3{ font-size:21px;}
.info-box-icon{ float:none; display:inline-block; vertical-align:middle; font-size:45px;}
.info-box-content{ margin-left:0; display:inline-block; vertical-align:middle;}
.info-box-icon img{ width:100%; max-width:60px;}
.treeview-menu .treeview-menu{ padding-bottom:10px;}
.skin-black-light .sidebar-menu > li > .treeview-menu{ padding-bottom: 10px;}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header{ white-space:normal;}
.treeview-menu > li > a{display:table; width:100%; padding: 5px 25px 5px 15px;}
.treeview-menu > li > a i{display: table-cell; vertical-align: middle;}
.treeview-menu > li > a span{display: table-cell; vertical-align: middle; font-size: 13px;}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu{top:42px;}
.skin-black-light.sidebar-mini.sidebar-collapse .treeview-menu > li > a{padding-left:5px;}
.skin-black-light.sidebar-mini.sidebar-collapse .treeview-menu .treeview-menu { padding-left: 15px;}

/*19-04-2018*/
select::-ms-expand {display: none;}
select{appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}

/*03-05-2018*/
.form-control[disabled], fieldset[disabled] .form-control{ background:#fff;}
.form-control[readonly]{ background:#F2F6F9;}
/*==============================================================*/

.skin-black-light .main-header .navbar {-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1); box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);}
.skin-black-light .wrapper, .skin-black-light .main-sidebar, .skin-black-light .left-side{background-color:#fff;}
.main-header .navbar{ min-height:75px;}
.skin-black-light .main-header{ border:none; line-height:30px;}
.navbar-nav>li>a{ line-height:55px;}
.main-header .logo{ line-height:75px; height:75px;}
.skin-black-light .main-header > .logo{ border-bottom:1px solid #f1f1f1; background:#fff;}/*24-04-2018*/
.skin-black-light .main-header .navbar>.sidebar-toggle{ border-right:1px solid #d5d7d6; color:#5bc5d2;}
.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black-light .main-header .navbar .navbar-right>li>a{ border-left:1px solid #d5d7d6;}
.main-header .navbar .nav>li>a>.label{ font-size:12px; border-radius:50%; height:20px; width:20px; line-height:1.4em; top:12px; right:15px;}

.skin-black-light .main-header li.user-header {background-color: #5bc5d2;}

.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion{color:#5bc5d2;}
.skin-black-light .sidebar-menu > li.active > a{color:#5bc5d2;}
.skin-black-light .sidebar-menu .treeview-menu > li.active > a{color:#5bc5d2;}
.skin-black-light .sidebar-menu > li:hover > a, .skin-black-light .sidebar-menu > li.active > a{color:#ffffff; background:#5bc5d2;}
.skin-black-light .sidebar-menu > li:hover i> a, .skin-black-light .sidebar-menu > li.active > a i{color:#ffffff;}
.skin-black-light .sidebar-menu > li:hover{background:#5bc5d2;}

.sidebar-menu > li:hover > a > .fa, .sidebar-menu > li:hover > a > .glyphicon, .sidebar-menu > li:hover > a > .ion{color:#ffffff;}

.skin-black-light .sidebar-menu .treeview-menu > li > a{font-size:13px;}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default{color:#fff; background:#5bc5d2;}

.logo-lg{ font-size:0; background:url(../../img/logoSTMD.jpg) no-repeat 50% 50%; }
.nav>li>a{padding: 10px 30px;}
.main-header .sidebar-toggle{ padding:22px 15px;}
.navbar-nav>.user-menu .user-image{ margin-top:15px;}
.content-wrapper{ background-color:#f2f6f9;}
.main-sidebar{ padding-top:80px;}
.skin-black-light .content-header{ background:#ffffff;}
.content-header{ background:#ffffff; padding:15px;}
.nav-tabs-custom{ -webkit-box-shadow: 0 0 10px 4px rgba(0,0,0,0.05); box-shadow: 0 0 10px 4px rgba(0,0,0,0.05); padding:25px; box-sizing:border-box;}
.nav-tabs-custom>.nav-tabs{ background:#f7f8fa; width:100%;}
.nav-tabs-custom>.nav-tabs>li{ margin-right:0;}
.nav-tabs-custom>.nav-tabs>li>a{ font-size:15px; font-weight:600;}
.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a{ background:none;}
.nav-tabs-custom>.nav-tabs>li.active{ border-top-color:#ed343a;}
.dlr{ display: block; font-size:14px; line-height:16px; font-weight:300; margin-bottom:5px;}
.upGrf{ font-size:14px; line-height:16px; color:#00a817; background:url(../../img/up.png) no-repeat 0 50%; display:block; font-weight:600; padding-left:22px;}
.downGrf{ font-size:14px; line-height:16px; color:#da2222; background:url(../../img/down.png) no-repeat 0 50%; display:block; font-weight:600; padding-left:22px;}
.nav-tabs-custom>.nav-tabs>li>a{padding: 10px 10px;}
ul.nav-tabs.Overview > li > a{padding: 10px 15px;}/*24-04-2018*/
.myDropDn{ margin-top:25px;}
.myDropDn .btn-default{ background:none; border:none; color:#3e4a4a; font-size:13px; font-weight:300;}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{ background:none;}
.dropdown.myDropDn{ margin-right:5px;}
.caret{border-top:8px solid #5dc5d0;}
.skybg{ color:#5dc5d0;}
.caret.skybg.m-l-10{ margin-left:5px;}
.navSearch{ width:290px; float:right; margin-top:20px; margin-right:25px;}
/*23-04-2018*/.navSearch .form-control{ border:none;} 
/*23-04-2018*/.top-pan-search{ border-top:none; border-left:none; border-right:none; border-bottom:1px solid #999; border-radius:0;}
/*23-04-2018*/.noBg{ background:none;}
.trackID{ width:115px; float:right; margin-top:20px; margin-right:10px;}
.topDropDn .btn-default{ background:none; border:none; color:#3e4a4a; font-size:14px;}
.content h3{ margin-top:10px; margin-bottom:25px;}/*24-04-2018*/

.shadowBoxStyl{-webkit-box-shadow: 0 0 10px 4px rgba(0,0,0,0.05); box-shadow: 0 0 10px 4px rgba(0,0,0,0.05); padding:15px 25px; box-sizing:border-box;}
.shadowBoxStyl h4{ font-size:15px; font-weight: 600; float:left;}
.shadowBoxStyl .titleSec{border-bottom:1px solid #eaeaea; padding-bottom:15px;}
.droupRt{width:115px; float:right;}
.droupRt .btn-default{ background:none; border:none; color:#3e4a4a; font-size:13px; font-weight:300;}
.drkGray{ background:#303e3f;}
.skyBlue{ background:#269ba5;}
.info-box{ color:#fff;}
.info-box-content{ padding:20px 10px;}

.shipmentNav .nav-tabs-custom > .nav-tabs > li > a { font-size: 14px; font-weight: 300;}
.serviceOver .nav-tabs-custom > .nav-tabs > li > a { font-size: 14px; font-weight: 300;}
.nav-tabs-custom > .nav-tabs > li.active{ font-weight:600!important;}
.nav-tabs-custom > .nav-tabs > li.active{ font-weight:600!important;}
.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a{ font-weight:600!important;}

.blkTxt{ color:#000;}
/*.statistics .info-box-number {font-size: 32px;}*/
.statistics .info-box-content .info-box-number small{ font-weight:300; font-size:20px; margin-right:10px;}
.bgDrkGreen{ background:#77d1da;}
.bgDrkYellow{ background:#e9b953;}
.bgDrkRed{ background:#d06964;}

.content-header > h1{font-weight:600;text-transform:capitalize;}
.content-header > h1 > small{display:block; padding-left:0; margin-top:10px;text-transform:none;}

.Cicon{display:inline-block; vertical-align:middle; margin-right:6px;}
.CiconR{display:inline-block; vertical-align:middle; margin-left:6px;}/*20-04-2018*/
label{font-weight:600;}

/*-----------------------------*/

/*Adjustments*/
.m-b-15{margin-bottom:15px;}
.m-t-15{margin-top:15px;}
.m-l-15{margin-left:15px;}
.m-r-15{margin-right:15px;}
.m-t-20{margin-top:20px;}/*20-04-2018*/

.custom-file-upload {border: 1px solid #4cb9c3; display: block; padding: 6px 12px; cursor: pointer; font-weight:400; color: #fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:300px; background:#5bc5d2; padding-right:20px;}

.btn-custom-theme{background-color: #5bc5d2; border-color: #4cb9c3; color:#ffffff;}
.btn-custom-theme:hover, .btn-custom-theme:focus, .btn-custom-theme:active {color: #fff; background-color: #48a6b3; border-color: #3c94a0;}

.color-theme{color:#5bc5d2 !important;}
.color-theme-2{color:#f03d40 !important;}

.datepicker-days thead{ color:#5bc5d2;}/*--20-04-2018--*/

/* File Upload */
.fake-shadow {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);}
.fileUpload {position: relative; overflow: hidden; width: 100px;}
.fileUpload input[type=file] {position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 33px; cursor: pointer; opacity: 0; filter: alpha(opacity=0);}
.img-preview {max-width: 100%;}

.form-control:focus {border-color: #5bc5d2; box-shadow: none;}
.main-img-preview{width:100px; height:100px; position:relative; margin-bottom:10px; overflow:hidden;}
.main-img-preview img{width:100%;}
.closeImg{position:absolute; top:0; right:0; cursor:pointer; display:none;}
.closeImg i{color:#ff4444; line-height:100%; font-size:18px;}

.box{border-top: 3px solid #5bc5d2;}
.tdIcons i{margin:0 5px;}

/*---Dashboard Page----*/

ul.airShip{ list-style-type:none; margin:30px 0 0 0; padding:0;}
ul.airShip li{ display:inline-block; width:13.98%; margin-bottom:20px;}/*added 20-04-2018*/
.airShipBox{ text-align:center;}
.airShip p.num{ color:#273739; font-size:15px; line-height:20px; margin:10px 0;}
.airShip p.tag{ color:#fff; font-size:15px; line-height:34px; background:#CCC; -webkit-border-radius: 20px 20px 20px 20px; border-radius: 20px 20px 20px 20px; /*width:120px; */ width:160px; margin:0 auto; text-align:center;}
.double p.tag{ width:218px;}/*added 20-04-2018*/
.borairCir{ background:#fff; border:1px solid #ccc; width:100px; height:100px; border-radius:50%; display:block; padding:8.5px; margin:0 auto;}
.airCir{ background:#ccc; width:80px; height:80px; border-radius:50%; display:block; position:relative; -moz-box-shadow:inset 0 -10px 10px -10px grey; -webkit-box-shadow:inset 0 -10px 10px -10px grey;  box-shadow:inset 0 -10px 10px -10px grey; }
.airCir img{ position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
/*23-05-2018*/
.socialCir{ width:80px; height:80px; border-radius:50%; display:block; position:relative;}
.socialCir img{ position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);}

.skyBlueCir p.tag, .skyBlueCir .airCir{ background:#76d1da;}
.skyBlueCir .borairCir{ border:1px solid #76d1da;}
.ltGreenCir p.tag, .ltGreenCir .airCir{ background:#67d8af;}
.ltGreenCir .borairCir{ border:1px solid #67d8af;}
.drkGreenCir p.tag, .drkGreenCir .airCir{ background:#8ab378;}
.drkGreenCir .borairCir{ border:1px solid #8ab378;}
.yellGreeCir p.tag, .yellGreeCir .airCir{ background:#c3c249;}
.yellGreeCir .borairCir{ border:1px solid #c3c249;}
.orangeCir p.tag, .orangeCir .airCir{ background:#e9b954;}
.orangeCir .borairCir{ border:1px solid #e9b954;}
.ltRedCir p.tag, .ltRedCir .airCir{ background:#e4946c;}
.ltRedCir .borairCir{ border:1px solid #e4946c;}
.RedCir p.tag, .RedCir .airCir{ background:#d06964;}
.RedCir .borairCir{ border:1px solid #d06964;}

.double p.tag{ background:#959595;}

/*---added 20-04-2018---*/
ul.airShip li.double{ width:auto;}
ul.airShip li.double .airShipBox{ display:inline-block; vertical-align:bottom; margin:0 10px;}

/*24-04-2018*/
.currentActive .info-box-icon{ height:auto; width:70px; padding:0 15px;}
.currentActive .info-box-icon img{ max-width:70px;}
.nav-tabs-custom>.nav-tabs>li.active>a{ border:none;}

/*25-04-2018*/
.info-box{display:table;}
.info-box-icon, .info-box-content{display:table-cell;}
.notifMessage{overflow:hidden;}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a .notifMessage h4 {padding: 0; margin: 0 0 4px 0; color: #444444; font-size: 15px; position: relative;}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a .notifMessage p {margin: 0; font-size: 12px; color: #888888; white-space: normal; line-height: 150%;}


/*fill-n-ship*/
.withCheck label{margin-bottom:0;}
.TableIcons{margin: 0 auto; display: block; text-align: center; font-size: 20px; color:#5bc5d2;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{background-color: #5bc5d2;
                                                                                                                                                                                                  border-color: #4cb9c3;}
.main-footer a{color:#5bc5d2;}
.topButtons a.btn{margin-left:5px;}
.topButtons a.btn:first-child{margin-left:0;}
.radioSpan{display: inline-block; vertical-align: middle; margin-left: 4px; cursor:pointer;}
.withRdaioButtons label{margin-left:10px;}
.withRdaioButtons label:first-child{margin-left:0;}
.customSelect {background:#ffffff url(../../img/select-arrow.png) no-repeat top 50% right 5px;  box-shadow: none;  padding:5px 15px 5px 5px; width:100%; display:block; color:#999; height:34px; border:solid 1px #d2d6de;}
label.error{color:#dd4b39;}
/*.input-daterange{width:100%;}*/
.dateRange{visibility:hidden; transition:all 300ms linear; -moz-transition:all 300ms linear; -webkit-transition:all 300ms linear; -o-transition:all 300ms linear;}
.withRdaioButtons{height:35px;}
.daterangepicker td.active, .daterangepicker td.active:hover {background-color: #5bc5d2;}
.month, .daterangepicker .calendar th{color:#5bc5d2;}
.daterangepicker .input-mini.active {border: 1px solid #5bc5d2;}
.input-group-addon i{color:#5bc5d2;}
.labelImg{text-align:center; display:inline-block; width: 20px; margin: 0 3px; position:relative;}
.labelImg img{width:100%;}
.filter_list{padding:0;}
.filter_list li{list-style:none; display:inline-block; vertical-align:middle; font-weight:600; border-left:solid 1px #ccc; padding:0 7px;}
.filter_list li:first-child{margin-left:0; border-left:0; padding-left:0;}
.filter_list li span{font-weight:400;}
.filter_list li i{color:#d73925; margin-left:5px;}
.newBadge{position: absolute; top: -4px; right: -13px; padding: 2px 5px; font-size:10px;}

/*----------------Login Page-----------------*/
.login-page, .register-page{ background:#fff;}
.login-box-body, .register-box-body{ background:#f1f1f1; -webkit-border-radius: 20px 20px 20px 20px; border-radius: 20px 20px 20px 20px;}
.login-box, .register-box{ width:500px; }
.login-box-msg, .register-box-msg{ color:#6a6a6a; font-size:16px;}

/*---------------Accounting-------------------*/
.adddrop{ display:inline-block; vertical-align:middle;}
.highLight{ background:#5bc5d2 url(../../img/select-arrow-white.png) no-repeat top 50% right 7px;  box-shadow: none;  padding:5px 20px 5px 5px; width:100%; display:block; color:#fff; border:none; height: 33px;}
.w-200{ width:200px;}
.w-100{ width:100px;}
.info-box.smInfoBox{ min-height:44px; width: auto; display:inline-block; margin-right:10px;}
.smInfoBox .info-box-icon{ font-size:20px; height: 50px; width: 46px; line-height: 50px;}
.smInfoBox .info-box-content { padding: 8px 15px 8px 15px; margin-left:48px;}
.smInfoBox .info-box-content .info-box-number { font-size:14px; line-height:14px;}

/*--------------Offers page--------------*/

/*accordion*/
.panel-title > a:before {float: right !important; font-family: FontAwesome; content:"\f068"; padding-right: 5px;}
.panel-title > a.collapsed:before {float: right !important; content:"\f067";}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {text-decoration:none;}
.panel-title > a{display:block;}
.panel-default > .panel-heading {color: #fff; background-color: #5bc5d2; border-color: #4cb9c3;}
.panel-title > a:hover, .panel-title > a:active, .panel-title > a:focus{color:#fff;}
/*accordion*/

.conditionList{padding:0; margin-top:15px;}
.conditionList li{list-style:none; margin-top:6px;}
.conditionList li label span{margin-left:5px;}

.toRepeatForCheck{margin-top:20px;}
.toRepeatForCheck h4 small{display:block; margin-top:5px;}
.toRepeatForCheck .addProductTable .table label{margin:0 5px 0 10px;}

.addProductTable{margin-top:10px; padding:15px 0; border-top:solid 1px #ddd;}
.inlnInput{width:100px; display:inline-block !important; margin-left:10px;}
.checkSpan{margin-left:5px; display: inline-block; vertical-align: middle;}

.width100{width:100px;}

.toRepeatForCheck .fileUpload{width:auto;}
.disBlock{display:block;}

.notesPromo{padding-left: 12px;}
.notesPromo li{margin-top:3px; font-size: 13px;}

/*-------------- Shipping Rates --------------*/

.shippingRatesTable thead tr{background:#f8f8f8;}
.shippingRatesTable input[type=text]{width:100px;}
.shippingRatesTable td, .shippingRatesTable th{vertical-align:middle !important;}
.shippingRatesTable .form-group{margin-bottom:0;}
.midHighphen{float: left; line-height: 150%; height: 35px; padding: 5px;}

/*24-04-2018 for date range picker*/
.withdateRangePicker{margin:25px 0 0; background: #fff; cursor: pointer; padding: 5px; border: 1px solid #ccc; width: 100%;}

/*24-04-2018*/
.default-Noimg{max-width:800px;}
.default-Noimg img{width:100%;}

/*Dashboard custome date range*/
.customDateRange{width:100%; position:absolute; top:90px; right:50px; z-index:100;}
.lftContDateRange{background:#fff; width:430px; height:300px; border:1px solid #eee; padding:20px; box-sizing:border-box;}
.customDRButt{ margin-top:-37px;}
/*.drkGray .info-box-icon, .skyBlue .info-box-icon{ line-height:84px;}*/
/*.drkGray .info-box-icon.desktop, .skyBlue .info-box-icon.mobile{ line-height:84px;}*/
.noBg{ background:none!important;}
.f-S-27{ font-size:27px;}


.toolTip{margin-left:5px; display:inline-block; vertical-align:middle; color:#5bc5d2;}
.withCheck .input-group .input-group-addon{border:none;}
.form-horizontal .control-label{padding-top:0;}

/*25-04-2018*/
.content-header .adddrop{vertical-align:bottom;}
.btnActive { line-height : 1!important; }
.table > thead > tr > th{white-space: nowrap;}
.actionIcons {font-size: 18px; margin-right:5px; margin-left:5px; margin-top:0; margin-bottom:0; /*display: table-cell*/ padding: 0 5px; cursor:pointer;}/*Updated 11-05-2018*/

/*Store Page 25-04-2018*/
.info-box.smInfoBoxLogo{ min-height:44px; width: auto; display:inline-block; margin-right:10px;}
.smInfoBoxLogo .info-box-icon{ font-size:20px; height: 50px; width: 82px; line-height: 50px; background:#fff; border-radius:2px 0 0 2px; -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2); box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);}
.smInfoBoxLogo .info-box-content { padding: 8px 15px 8px 15px;}
.smInfoBoxLogo .info-box-content .info-box-number { font-size:14px; line-height:14px;}
.smInfoBoxLogo .info-box-content .info-inner-box{ display:inline-block; vertical-align:middle;}

/*warehouse Page 25-04-2018*/
.info-box-icon.smIcon img{ max-width:20px;}

/*Dashboard link 26-04-2018*/
.airShip p.num a{ color:#28373a;}
.airShip p.num a:hover{ color:#182123;}

/*26-04-2016*/
.modal-title{color:#5bc5d2;}
.socialIcons .control-label{margin-top:6px;  color:#5bc5d2; font-size: 20px;}
.m-t-5{margin-top:5px;}
.m-t-10{margin-top:10px;}

/*select2*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {background-color: #5bc5d2 !important; border: 1px solid #4cb9c3 !important;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:#fff !important;}
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #5bc5d2 !important;}

.droupRt1 .withdateRangePicker{margin-top:10px;}
.p-r-10{padding-right:10px;}
.shipmentNav .withdateRangePicker, .service-overview .withdateRangePicker{margin-top:0;}

.btnActive{padding:3px 6px; font-size:12px;}
.addressInfo{padding:20px; background:#f8f8f8;}
.addressInfo h2{font-size:18px; margin-top:0;}
.addressInfo p{margin-bottom:0;}
.addIn {float: right;}
.addressInfo .addIn{color:#5bc5d2; font-size:20px; margin: 0 5px;}
.addressInfo .withCheck {float: left; margin-right: 10px;}
.addressInfo.active{border-left:solid 2px #5bc5d2; }

/*Details Page 26-04-2018*/
.detailsPage h3 small{ display:block; margin-top:10px; color:#000000; font-weight:300;}
.shadowBox{ -webkit-box-shadow: 0 0 10px 4px rgba(0,0,0,0.05); box-shadow: 0 0 10px 4px rgba(0,0,0,0.05); padding:25px; box-sizing:border-box; background:#fff;}
.redTxt{ color:#ec2b30;}
.greenTxt{ color:#318816;}
.skyTxt{ color:#52c4ce;}
.listDroupdown button{ background:none; padding:0; line-height:14px;}
.listDroupdown .caret{ border-top: 8px solid #273739;}
.listDroupdown .dropdown-menu>li>a{ font-size:13px;}
.listDroupdown .dropdown-menu>li>a:hover{ color:#fff; background:#5cc6d0;}
.list-inline.shipmentDetail > li{ font-size:14px; line-height:14px; padding:4px 15px; border-right:1px solid #d4d7d7;}
.list-inline.shipmentDetail > li:last-child{ border-right:none;}

.ltBlueBox{ background:#f9fdff; border:1px solid #cbe0ea; padding:10px 25px; box-sizing:border-box;}
.ltBlueBox.iconItem span.icon{ width:36px; display:inline-block; vertical-align:middle;}
.ltBlueBox.iconItem span.item{ display:inline-block; vertical-align:middle; width:80%;}
.ltBlueBox.iconItem span.icon img{ width:100%; max-width:30px;}
.m-b-25{ margin-bottom:25px;}
.brd-rt{ border-right:1px solid #e5e5e5;}
.customSelectBlack { background: #ffffff url(../../img/select-arrow-black.png) no-repeat top 50% right 15px; box-shadow: none; padding: 5px 40px 5px 5px; width: 100%; display: block; color: #999; border:1px solid #e4e4e4; border-radius:5px; font-size:13px;}
select.input-lg.customSelectBlack{ line-height:13px;}
.customInputBlack, .customTxtareaBlack { box-shadow: none; padding: 5px 5px 5px 5px; box-sizing:border-box; width: 100%; display: block; color: #999; border:1px solid #e4e4e4; border-radius:5px; font-size:13px;}/*03-05-2018*/

.customText{ box-shadow: none; padding: 15px 25px; display: inline-block; color: #373737; border:1px solid #e4e4e4; border-radius:5px; font-size:13px;}
.custumButt{ font-size:14px; padding:12px 20px; text-transform:uppercase; background:#fff;}
.custumButt:hover{ background:#fff;}
.customIconBox{ box-shadow: none; padding:5px 5px; display: inline-block; border:1px solid #e4e4e4; border-radius:5px;}
.displayInlBlk{ display:inline-block;}

.btnBlue{ border:1px solid #52c4ce; color:#52c4ce;}
.btnBlue:hover{ border:1px solid #64d2dc; color:#64d2dc;}

.btnDelete{ border:1px solid #ce5252; color:#ce5252;}
.btnDelete:hover{ border:1px solid #dd6b6b; color:#dd6b6b;}

.btnGreen{ border:1px solid #58c45d; color:#58c45d;}
.btnGreen:hover{ border:1px solid #70d875; color:#70d875;}

.custumBtnWtIcn{ font-size:14px; padding:5px 20px; text-transform:uppercase; background:#fff;}
.btnIcon img { width: 100%; max-width: 30px;}

.printBtn{ background:#dfe7e7; color:#000000; text-transform:uppercase; margin:0 10px;}/*03-05-2018*/
.printBtn:hover{ background:#ebf0f0; border: 1px solid #ebf0f0; }

.solidBtn{ background:#52c4ce; color:#fff; text-transform:uppercase; border:none;}
.solidBtn:hover{ background:#61ced8; color:#fff;}
.shipList strong{ display:block;}

.p-l-25{ padding-left:25px;}
.p-r-25{ padding-right:25px;}

.ltRedBox{ background:#fdf0f0; border:1px solid #e78387; padding:20px 25px; box-sizing:border-box;}

.shipDtlBoxBlue{ background:#4e98c3;}
.shipDtlBoxSky{ background:#35b7c2;}
.shipDtlBoxGreen{ background:#62bf5e;}
.shipDtlBoxYellow{ background:#f3b047;}
.shipDetail .info-box-number small{ display:block; font-weight:300;}
.delevBox{ border:1px solid #ececec; padding:25px; box-sizing:border-box;}
.p-t-15{ padding-top:15px;}
.p-t-20{ padding-top:20px;}

.headerTblBg{ background:#9ea4ab; color:#fff;}
.customList .list-group .list-group-item{ border:none;}
.customList .list-group .list-group-item .bullet{ margin-right:10px; float:left;}
.customList .list-group .list-group-item .bulletTxt{ display:inline-block; vertical-align:top;}
.customList .list-group .list-group-item .deleteBtn{ display:inline-block; vertical-align:top; float:right;}

.ltGrayBox{ background:#f9fbfb; border:1px solid #dddddd; padding:25px 25px; box-sizing:border-box;}
.borderBox{ border:1px solid #dddddd; padding:25px 25px; box-sizing:border-box;}
.groupList .grpdiv{ border:1px solid #ededed; padding:30px 20px; box-sizing:border-box; color:#000;}
.groupList .grpdiv strong{ font-size: 24px; line-height:30px}

.shipingCost { padding:0; margin:0; display: flex; flex-direction: row; flex-wrap: wrap;}
.shipingCost li{ flex: 1; display: block}
.shipingCost li strong{ font-size:18px; display:block;}
.txtRed{ color:#d43434;}
.autoWidth li{ width:10.8%;}

.stepBg{ background:#f9fbfc!important; border-bottom:1px solid #e0e1e2; display: flex; align-items: center; }

.progressbar{ padding:0; margin:0 15px 0 0; width:79%;}
.progressbar li{ list-style-type:none; display:inline-block; vertical-align:middle; background:#fff; border:1px solid #5cc6d0; padding:5px 10px; border-radius:5px; margin-right:5px; position:relative;}
.progressbar li.active{ background:#5cc6d0; color:#fff;}
.progressbar li a{ color:#000;}
.progressbar li.active a{ color:#fff;}
.progressbar li::after {content: ""; position:absolute; right:-9px; top:7px; border-right:1px solid #4fc1cd; height:15px; transform: rotate(90deg);}
.progressbar li:last-child::after{content: ""; border:none;}
.progress { height: 20px;}
.progressbar + .btn{ margin: 0 0 0 auto; }
/*Accounting Report 26-04-2018*/
.customSelect2{ background: #ffffff url(../../img/select-arrow-black.png) no-repeat top 50% right 15px; box-shadow: none; padding: 5px 40px 5px 5px; width: 100%; display: block; color: #999; border:1px solid #d2d6de; font-size:13px;}
.form-control.input-lg{ font-size:14px; line-height:14px; /*height:34px;*/}

/*modal 26-04-2018*/
.lrgWidth{ width:90%;}

/*27-04-2018*/
.permissionTable .radioSpan{width: 150px;}
.permissionTable .firstRow td{background:#f4f4f5;}

.collapseBtnTable{float:right; margin-right:10px; margin-top: 5px;}
.collapseBtnTable a{color:#414141;}
.collapseBtnTable a:hover{color:#5bc5d2;}

.actionGroup .caret { border-top: 8px solid #fff;}

.fundWallet .input-group-addon{border:none !important;}

/*30-04-2018*/
.horizontal-Inline .control-label {margin-top: 0; display: inline-block; vertical-align: middle; float: none; text-align:right;}/*11-05-2018*/
.horizontal-Inline .col-sm-4 {display: inline-block; vertical-align: middle; float: none;}
.text-info {color: #00acd6;}
.currency{display:inline-block; font-weight:600; color:#5bc5d2; margin-right:5px;}

.settingsCharge .accordion-toggle{display:block; width:100%; color:#333333;}
.settingsCharge .accordion-toggle .Cicon i{color:#5bc5d2;}
/*.shippingRatesTable .form-control.customSelect{font-weight:400; width:50%;}
.shippingRatesTable th span{margin-right:5px;}*/
.alert h4{margin-bottom:0;}

/*02-05-2018*/
.text-warning {color: #e08e0b !important;}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple{border:solid 1px #d2d6de !important;}
.select2-container--default .select2-selection--multiple{border-radius:0 !important; min-height: 34px !important;}

/*02-05-2018*/
.addButt{ font-size:22px; display:inline-block; padding:5px 15px; color:#28aeba; border:1px solid #e9e9e9;}
.dltRedBox { background:#fdf0f0; border:1px solid #e5e5e5; padding:20px 25px; box-sizing:border-box;}
.headerTblBgRed{ background:#c38d8d; color:#fff;}
.whiteTblbodyBg{ background:#ffffff;}
.tblHLBg{ background:#7f848a;}
.m-t-5{ margin-top:5px;}
.progress-bar{ background:#5cc6d0;}
.table-bordered>thead>tr>th.noRtBrd{border-right: 1px solid #9ea4ab;}
.idShow div:not(:last-child){ margin-bottom: 5px; }
.idShow div span{ display: block; font-weight: 500; }
.idShow a{ display: inline-block; margin-right:5px; background-color: #5bc5d2; color: #fff; font-weight:500; border-radius: 2px; padding: 2px 4px; line-height: 1; margin-bottom: 4px; }
.buttMrg a{ margin-right:10px;}
.buttMrg a:last-child{ margin-right:0;}

/*03-05-2018*/
.disabledIcon{ cursor:not-allowed;}
.disabledIcon img{ opacity:.5;}
.customSelect3{ background: #ffffff url(../../img/select-arrow-black.png) no-repeat top 50% right 15px; box-shadow: none; padding: 5px 40px 5px 5px; width: 100%; display: block; color: #333; border:none; font-size:14px;}

/*17-03-2018*/
.twoSideMultiSelect .btn.btn-block{ background:#5bc5d2}
.twoSideMultiSelect .btn.btn-block i{ color:#fff}

/*31-05-2018*/
#showUser{ position: relative; }
.userData{ padding: 0; margin: 0; list-style-type: none; position: absolute; left: 0; top: 0; z-index: 9999; width: 100%;}
.userData li{ padding:5px 15px 5px; background: #f1f1f1; color:#555; border-bottom:1px solid #fafafa;}

/*04-06-2018*/
.templateVars{ height: 30px!important;}
.remainList{ padding: 0; margin: 10px 0 0 25px;}
.searchRtIcon{float: right;  padding: 6px 10px;  margin-top:0;  margin-right:0;  background: #ddd;  font-size: 17px;  border: none;  cursor: pointer;}

/*07-06-2018*/
.table.dataTable{ font-size:13px;}
.p-t-25{ padding-top: 25px;}
.p-t-10{ padding-top: 10px;}


/*21-06-2018*/
.modal-body.longFrm .form-group{ margin-bottom:5px;}
.modal-body.longFrm  input[type="text"].form-control, .modal-body.longFrm select.form-control.customSelect{ height:28px; padding: 2px 30px 2px 5px;}
.modalSubTitle{border-bottom:1px solid #CCC; padding-bottom:7px; margin:10px 0 10px; display:block;}

.modal-body.longFrm .table-bordered th{ background:#f1f1f1;}
.overflowAuto{ overflow-x: auto; }

/* 26-06-2018 */

.disableblock{cursor:default;opacity:0.4;pointer-events:none;text-decoration:none}
.affix { position: fixed;}
.affix { top: 0; width: 100%; z-index: 999 !important;}
.sidebar-mini.sidebar-collapse .affix{ width: calc(100% - 50px); }
.sidebar-mini .affix{ width: calc(100% - 230px); }
.content-header.stepBg .nav>li>a { padding:0; background:none;}
.content-header.stepBg .nav>li>a:hover { padding:0; background:none;}

/* 05-07-2018 */
table > tbody > tr > td{word-break: break-all;}


/*11-07-2018*/
.shipingOption{ width:100%; text-align:center; list-style-type:none; padding:0; margin:0;}
.shipingOption li{ width:23.2%; margin-right:1.5%; display:inline-block;vertical-align:top; margin-bottom:20px;}
.boxwrap{ background:#CCC; border-radius:30px; background:#0f99b6; color:#fff; border:1px solid #d4d4d4;}
.shipingOption li:last-child{ margin-right:0;}
.shipingOption li:nth-child(4) { margin-right:0;}
.shipingOption li h5.logoTitle{ font-size:14px; text-align:left; padding:0 10px; box-sizing:border-box;}
.shipingOption li h5.txtTitle{ font-size:18px; padding:0 10px; box-sizing:border-box;}
.shipingOption li h5.logoTitle img{ border-radius:50%; margin-right:10px; display:inline-block; vertical-align:middle;}
.priceSec{ background:#fff; padding:10px; box-sizing:border-box; text-align:right; color:#000;}
.priceSec p{ margin:0; padding:0;}
.priceSec p span{ width:22%; display:inline-block;}
.priceSec p span.sm{ font-size:10px; color:#999;}
.lrgPriceSec{ text-align:center; padding:10px; box-sizing:border-box;}
.lrgPriceSec .lgTxt{ font-size:40px; line-height:40px;}
.lrgPriceSec p{ margin-bottom:2px; font-weight:bold;}
.paraSec{ background:#fff; color:#000; padding:10px; box-sizing:border-box; font-size:14px; line-height:20px; font-weight:bold; border-bottom-right-radius:28px; border-bottom-left-radius:28px; margin-bottom:0;}
.sm-padding{ padding:5px 15px;}

/*19-07-2018*/
#modal-addEditCustom {
    z-index: 1999; 
}
#modal-addEdit {
    /*z-index: 2000;*/ 
}

.m-t-15-imp i{ margin-top: 21px!important; display: inline-block; }
.width83{ width:83%!important;}

/*27-07-2018*/

.rtSearchBox{ width:350px!important;}

.rtSearchBox label{ display: inline-block!important; vertical-align:middle!important; margin-bottom:0;}
.rtSearchBox input{ display: inline-block!important; vertical-align:middle!important; width: 200px;}
.rtSearchBox a { display: inline-block!important; vertical-align:middle!important;}

.fixedWidth111{ width: 111px; margin-bottom: 5px;}

/*.contactGroup select{ display: inline-block; vertical-align: middle;}
.contactGroup input{ display: inline-block; vertical-align: middle;}
.contactGroup a{ display: inline-block; vertical-align: middle;}*/
.fixedwidth120{width:120px!important;}
.fixedwidth110{width:110px!important;}
.no-mrg{ margin: 0!important;}

.flxwidth{ width:286px!important; }

.brdblue{ border: 1px solid #bcc0c6; padding: 5px;}

#showProducts1Label .box-body .col-md-6{ margin-bottom: 10px!important;}

#showProducts1Label .box-body .col-md-6 .icheckbox_flat-green{ margin-right: 10px;}


/*--------------09-08-18------------*/

.ltBlueBox.iconItem .item a i{ font-size: 18px; margin-left:10px; }

.table-field .form-control, .table-field .customSelect{ width: 100px;}

.deliveryItem{ border-bottom: 1px solid #d2d6de; padding: 15px;}
.deliveryItem .form-row{ overflow: hidden;}

.font-size-base{ font-size: 14px;}

/*------ 29-03-19(full page loaded)------- */
.loaderMiddle {
display : block;
    position : fixed;
    z-index: 100;
    background-image : url('http://loadinggif.com/images/image-selection/3.gif');
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#loadinggif.show
{
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 32px;
    height : 32px;
    margin-left : -16px;
    margin-top : -16px;
}
div.content {
   width : 1000px;
   height : 1000px;
}

/*03-04-2019*/

.customTabs { margin: 0 5px;}

.customTabs .nav-tabs {border-bottom: 1px solid #5bc5d2;}

.customTabs .nav-tabs > li.active > a, 
.customTabs .nav-tabs > li.active > a:focus, 
.customTabs .nav-tabs > li.active > a:hover {color: #fff; cursor: pointer; background-color: #5bc5d2; border: 1px solid #5bc5d2;}

.customTabs .nav > li > a:hover, 
.customTabs .nav > li > a:active, 
.customTabs .nav > li > a:focus {
    color: #fff;
    background: #5bc5d2;
}
.customTabs .nav-tabs > li > a:hover {
    border-color: #eee #eee #5bc5d2;
}

.posRel{position: relative;}

/*shipment details colapse*/
.flex-colapse{
    display: flex;
    justify-content: space-between
}
.flex-colapse h3{
    margin: 0;
    line-height: 45px;
}

.d-block{
    display: block;
}
.overflow-hidden{
    overflow: hidden;
}

.autothumbnail img{
    width: 100px;
    height: 60px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.actionIcons-auto{ 
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 14px;
    display: block;
}

.delevBox-auto .form-group{
    padding: 15px;
    border: 1px solid #ececec;
    text-align: center;
    min-height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*18-07-19 rosy*/
#remove_div{
	margin-top: 7px;
}